@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

body {
  background-size: 69px 69px;
  background-image:
  radial-gradient(circle, #bdbdbd 2px, rgba(0, 0, 0, 0) 1px);
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

.base {
    @apply bg-white rounded-xl shadow-md p-2 flex flex-col justify-center items-center;
}
.bg-indigo-rose {
    @apply bg-gradient-to-r from-indigo-500 to-rose-500;
}
.text-indigo-rose {
    @apply bg-gradient-to-r from-indigo-500 to-rose-500 inline-block text-transparent bg-clip-text text-xl;
}
.funny-rotate {
    @apply hover:-rotate-3 hover:scale-105 transition-all ease-out duration-300 z-10 cursor-pointer;
}
.btn {
    @apply bg-indigo-500 px-4 py-2 rounded-md shadow-md text-white w-fit;
}
.tag {
  @apply bg-gray-800 rounded-md shadow-md px-2 py-1 w-fit text-white text-xs;
}

main {
  @apply flex flex-col justify-center items-center p-6 mx-auto max-w-3xl sm:px-6 lg:px-8 mt-16 md:mt-24 gap-y-12
}